*{
    margin : 0;
    padding : 0;
    background-color: white;
}

.header{
    display: flex;
}

.ghabeSamteRast{
    width: 36%;
    height: 100%;
    margin-right: 0;
}

.ghabeSamteChap{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('headback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.shoR{

}

.aks{
    width: 100%;
    height: 100%;
}