*{
    margin : 0;
    padding : 0;
}
html{
    width: 100%;
    height: 100%;
}
header{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ghabeSamteRast{
    display: inline-block;
    width: 40%;
    height: 100%;
    float: right;
}

.ghabeSamteChap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url('headback.jpg');
    background-size: cover;
    height: 100%;
}

.shoR{

}

.aks{
    width: 100%;
    height: 100%;
}